@media (min-width: 1285px) {
    .container {
        max-width: 1134px;
    }
}

@media (max-width: 1285px) {

    .header__logo-img {
        max-width: 112px;
    }

    .header__part1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 100%;
        padding-top: 18px;
        padding-bottom: 19px;
    }

    .menu-container {
        width: 100%;
    }

    .menu {
        margin-right: auto;
    }

    .menu__list-items {
        gap: 58.57px;
    }

    .submenu__age {
        display: none;
    }


    .hero {
        padding-bottom: 36px;
    }

    .header__submenu-list {
        gap: 28.5px;
    }

    .submenu {
        gap: 34px;
        min-height: 58px;
    }

    .submenu__btns-container {
        min-width: 303px;
    }

    .submenu__btn-descr {
        margin-bottom: 5px;
    }

    .submenu__item {
        padding-left: 10px;
    }

    .hero__descr {
        margin-bottom: 19px;
    }

    .hero__img-container {
        background-size: 258px 260px;
        background-position-x: center;
        background-position-y: center;
    }



    .podcasts__info-text {
        padding: 24px 30px 24px 32px;
    }

    .podcasts__social-activity {
        padding: 8px 0 7px 23px;
    }

    .podcasts__btn-listen {
        right: 6%;
    }

    .broadcasts__row {
        justify-content: space-between;
    }

    .broadcasts__item {
        width: 47%;
        padding: 167px 6px 18px 15px;
    }

    .broadcasts__list {
        justify-content: space-between;
        gap: 29px;
    }

    .choices__inner {
        min-height: 41px;
    }

    .broadcasts__title {
        margin-bottom: 8px;
    }

    .broadcasts__archive {
        position: absolute;
        top: 41%;
        left: 0;
        max-width: 265px;
        padding: 114px 0 8px 13px;
        background-position-x: 12px;
    }

    .guests__title {
        margin-bottom: 11px;
    }

    .guests__accordion {
        padding-top: 4px;
    }

    .guests__info {
        padding-top: 1px;
    }

    .guests__accordion-button:not(.collapsed) {
        padding-top: 32px;
    }

    .guests__list {
        columns: 3;
        gap: 25px;
    }

    .guests__person-img {
        margin-bottom: 13px;
    }

    .playlists .row {
        flex-direction: column;
    }

    .playlists__genres {
        max-width: 536px;
    }

    .genre__list {
        flex-wrap: wrap;
        max-height: 168px;
    }

    .playlists__songwriters {
        width: 100%;
    }

    .playlists__text-copy {
        display: block;
    }

    .playlists__text-original {
        display: none;
    }

    .playlists__item {
        flex-direction: row;
        align-items: center;
        gap: 9px;
        padding: 0;
    }

    .playlists__img {
        max-width: 112px;
    }

    .playlists__group__name {
        padding: 0;
    }

    .playlists__descr {
        padding: 0;
    }

    .playlists__country {
        left: 0;
    }

    .products {
        padding-bottom: 92px;
    }

    .product__br-text {
        display: inline;
    }

    .product__photo {
        position: relative;
        top: 18%;
    }

    .product__new {
        max-width: 97px;
        top: 19%;
        left: 14px;
        z-index: 2;
    }

    .about__img-line {
        display: none;
    }

    .about__img-star {
        min-width: 255px;
    }

    .about__row1 {
        gap: 16px;
    }

    .button-prev,
    .button-next {
        top: 32%;
    }

    .about__name {
        margin-bottom: 7px;
    }

    .about__form {
        padding-top: 37px;
    }

    .about__inputs {
        margin-bottom: 31px;
        padding-top: 30px;
    }

    .form__input {
        padding: 24px 32px;
    }

    .footer__container {
        justify-content: flex-start;
        gap: 19.7%;
    }

    .footer__menu-list {
        column-gap: 109px;
    }
}

@media (max-width: 1285px) and (min-width: 992px) {
    .container {
        max-width: 848px;
    }

    .broadcasts__content {
        width: 66.66666667%;
    }

    .podcasts__item {
        max-width: 48%;
    }

    .playlists__item {
        width: 33.33333333%;
        max-width: 254px;
    }
}

@media (max-width: 991.5px) and (min-width: 768px) {
    .container {
        max-width: 565px;
    }


}

@media (max-width: 991.5px) {

    .header__background-for-mobile {
        position: absolute;
        width: 100vw;
        height: 60px;
        background-color: var(--light-gray);
        z-index: 0;
    }

    .header__part1 {
        position: relative;
        gap: 33px;
        padding-bottom: 15px;
    }

    /*burger*/


    .menu-btn {
        display: block;
        width: 22px;
        height: 50px;
        position: relative;
        left: 0;
        margin-right: auto;
        z-index: 200;
        overflow: hidden;
    }

    .menu-btn span {
        width: 30px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        background-color: var(--btn-violet-color);
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 10px);
    }

    .menu {
        display: block;
        width: 100vw;
        position: fixed;
        height: 100vh;
        top: 0;
        left: -102%;
        z-index: 100;
        transition: all .3s;
        background: #ffffff;
    }


    .menu__item {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .menu-active {
        left: 0;
        display: flex;
        align-items: flex-start;
        max-height: 100vh;
    }

    .menu__list-active {
        display: inline-block;
        columns: 2;
        padding-top: 107px;
        padding-left: 114px;
    }

    /* крестик на бургере*/

    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .header__submenu-list {
        gap: 29px;
    }


    .broadcasts__author {
        min-height: 100px;
        margin-bottom: 47px;
    }

    .broadcasts__list {
        padding: 0;
    }

    .podcasts__info-text {
        padding: 24px 2px 24px 29px;
    }

    .podcasts__btn-listen {
        right: 5%;
    }

    .podcasts__social-activity {
        padding: 8px 0 7px 19px;
    }

    .podcasts__btn-more {
        padding: 27px 53px 22px 50px;
    }

    .choices__inner {
        padding: 13px 2px 0px 11px;
    }

    .broadcasts__title {
        margin-bottom: 10px;
    }

    .submenu {
        gap: 15px;
    }

    .submenu__btns-container {
        min-width: 5px;
    }

    .submenu__item {
        border: none;
    }

    .submenu__item:nth-child(1) {
        border-left: none;
    }

    .submenu__item:not(:first-child) {
        display: none;
    }

    .submenu__text-container {
        display: none;
    }

    .podcasts__item {
        max-width: none;
    }

    .broadcasts {
        padding-bottom: 31px;
        background-image: url("../img/Line-for-section-broadcasts.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 88.1%;
    }

    .broadcasts__archive {
        position: static;
        max-width: 345px;
        margin: 0 auto;
        padding: 0 0 0 90px;
        background-position: left center;
    }

    .broadcasts__list {
        margin-bottom: 92px;
    }

    .broadcasts__item {
        padding: 167px 6px 16px 13px;
    }

    .broadcasts__item-title {
        margin-bottom: 4px;
    }

    .broadcasts__schedule {
        margin-bottom: 16px;
    }

    .broadcasts__link-archive {
        margin-bottom: 9px;
    }

    .broadcasts__text-for-archive {
        line-height: 23px;
    }

    .accordion-body {
        padding: 27px 0 5px 0;
    }

    .guests__accordion {
        margin-bottom: 50px;
    }

    .guests__list {
        gap: 29px;
    }

    .guests__link-person {
        margin-bottom: 26px;
    }

    .guests__descr {
        max-width: 398px;
    }

    .guests__info {
        padding-left: 12px;
    }

    .playlists__title {
        margin-bottom: 9px;
    }

    .genre__list {
        gap: 14px;
        max-height: 235px;
    }

    .genre__item {
        padding-bottom: 16px;
    }

    .playlists__genres {
        margin-bottom: 19px;
    }

    .playlists__list {
        gap: 29px;
    }

    .playlists__item {
        width: 47%;
    }

    .products {
        padding-top: 44px;
    }

    .product__photo {
        position: static;
    }

    .products__img {
        margin-bottom: 48px;
    }

    .product__new {
        max-width: none;
        top: 2%;
        left: 2%;
    }

    .products__title {
        padding-right: 75px;
    }

    .product__text {
        padding: 2px 0 0 10px;
    }

    .product__br-text {
        display: none;
    }

    .product__descr {
        max-width: 535px;
    }

    .about__img-container {
        justify-content: right;
        position: relative;
    }

    .about__br-text {
        display: inline;
    }

    .about__row1 {
        gap: 32px;
    }

    .about__img-line {

        display: inline-block;
        position: absolute;
        left: -26%;
        height: 112px;
        background-image: url("../img/Spiral_768.png");
        background-repeat: repeat-x;
        background-position: right;
    }

    .about__img-star {
        display: inline-block;
        height: 112px;
        min-width: 112px;
        background-position-x: right;
    }

    .button-prev,
    .button-next {
        top: 29.5%;
    }

    .button-prev {
        left: -11.6%;
    }

    .button-next {
        right: -7.4%;
    }

    .swiper__img {
        margin-bottom: 30px;
    }

    .about__form {
        padding-top: 31px;
    }

    .about__inputs {
        flex-direction: column;
    }

    .about__input {
        width: 100%;
    }

    .footer__social {
        align-items: center;
        margin-bottom: 77px;
    }

    .footer__social-img {
        display: inline-block;
        width: 36px;
        height: 36px;
    }

    .footer__menu-list {
        column-gap: 154px;
    }

    .footer__menu-list {
        max-height: 150px;
    }

    .footer__menu-item {
        margin-bottom: 22px;
    }

    .footer__part1 {
        padding-bottom: 65px;
    }

}