@media (max-width: 1285px) {

    .header__logo-img {
        max-width: 112px;
    }

    .header__part1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 100%;
        padding-top: 18px;
        padding-bottom: 19px;
    }

    .menu-container {
        width: 100%;
    }

    .menu {
        margin-right: auto;
    }

    .menu__list-items {
        gap: 58.57px;
    }

    .submenu__age {
        display: none;
    }

    /*.swiper-slide-active , .swiper-slide-next {
        max-width: 397px;
    }*/

    .container {
        max-width: 848px;
    }

    .hero {
        padding-bottom: 36px;
    }

    .header__submenu-list {
        gap: 28.5px;
    }

    .submenu {
        gap: 34px;
        min-height: 58px;
    }

    .submenu__btns-container {
        min-width: 303px;
    }

    .submenu__btn-descr {
        margin-bottom: 5px;
    }

    .submenu__item {
        padding-left: 10px;
    }

    .hero__descr {
        margin-bottom: 19px;
    }

    .hero__img-container {
        background-size: 258px 260px;
        background-position-x: center;
        background-position-y: center;
    }

    .podcasts__item {
        max-width: 48%;
    }

    .podcasts__info-text {
        padding: 24px 30px 24px 32px;
    }

    .podcasts__social-activity {
        padding: 8px 0 7px 23px;
    }

    .podcasts__btn-listen {
        right: 6%;
    }

    .broadcasts__row {
        justify-content: space-between;
    }

    .broadcasts__content {
        width: 66.66666667%;
    }

    .broadcasts__item {
        width: 47%;
        padding: 167px 6px 18px 15px;
    }

    .broadcasts__list {
        justify-content: space-between;
        gap: 29px;
    }

    .choices__inner {
        min-height: 41px;
    }

    .broadcasts__title {
        margin-bottom: 8px;
    }

    .broadcasts__archive {
        position: absolute;
        top: 41%;
        left: 0;
        max-width: 265px;
        padding: 114px 0 8px 13px;
        background-position-x: 12px;
    }

    .guests__title {
        margin-bottom: 11px;
    }
    .guests__accordion {
        padding-top: 4px;
    }

    .guests__info {
        padding-top: 1px;
    }

    .guests__accordion-button:not(.collapsed) {
        padding-top: 32px;
    }

    .guests__list {
        columns: 3;
        gap: 25px;
    }

    .guests__person-img {
        margin-bottom: 13px;
    }

    .playlists .row {
        flex-direction: column;
    }

    .playlists__genres {
        max-width: 536px;
    }

    .genre__list {
        flex-wrap: wrap;
        max-height: 168px;
    }

    .playlists__songwriters {
        width: 100%;
    }

    .playlists__text-copy {
        display: block;
    }

    .playlists__text-original {
        display: none;
    }

    .playlists__item {
        flex-direction: row;
        align-items: center;
        gap: 9px;
        width: 33.33333333%;
        max-width: 254px;
        padding: 0;
    }

    .playlists__img {
        max-width: 112px;
    }

    .playlists__group__name {
        padding: 0;
    }

    .playlists__descr {
        padding: 0;
    }

    .playlists__country {
        left: 0;
    }

    .products {
        padding-bottom: 92px;
    }

    .product__br-text {
        display: inline;
    }

    .product__photo {
        position: relative;
        top: 18%;
    }

    .product__new {
        max-width: 97px;
    top: 19%;
    left: 14px;
    z-index: 2;
    }

    .about__img-line {
        display: none;
    }
    
    .about__row1 {
        gap: 16px;
    }

    .button-prev, .button-next  {
    top: 32%;
    }

    .about__name {
        margin-bottom: 7px;
    }

    .about__form {
        padding-top: 37px;
    }

    .about__inputs {
        margin-bottom: 31px;
        padding-top: 30px;
    }

    .form__input {
        padding: 24px 32px;
    }

    .footer__container {
        justify-content: flex-start;
        gap: 19.7%;
    }

    .footer__menu-list {
        column-gap: 109px;
    }
}