@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerRegularItalic'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerLightItalic'),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}


:root {
  --btn-violet-color: #6D31EE;
  --vilet--AA9DFA: #AA9DFA;
  --violet--4F28A5: #4F28A5;
  --color-orange-dark: #E1670E;
  /*темно-оранжевый*/
  --border-radius__big: 77px;
  --border-radius__smaller: 40px;
  --light-gray: #E6E8EC;
  --black: #121723;
  --text-gray: #A1A6B4;
  --yellow-F0D288: #F0D288;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

picture {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

body {
  font-family: 'Muller', sans-serif;
  min-width: 320px;
  background: #FFFFFF;
}

.font__open-sans {
  font-family: 'Open Sans', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 16px;
}

.flex {
  display: flex;
}


.container {
  max-width: 1134px;
}


.section-offset {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.card-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.menu-btn {
  display: none;
}

.btn-ui-kit1 {
  transition: all 0.3s ease-in-out;
}

.btn-ui-kit1:hover {
  color: var(--btn-violet-color);
}

.btn-ui-kit1:focus-visible {
  color: #ffffff;
  background-color: var(--vilet--AA9DFA);
  outline: none;
}

.btn-ui-kit1:active {
  color: var(--violet--4F28A5);
}

.black-btn:hover {
  color: #ffffff;
  background-color: var(--black);
}

.black-btn:focus-visible {
  background-color: var(--vilet--AA9DFA);
}

.black-btn:active {
  color: #ffffff;
  background-color: var(--violet--4F28A5);
  outline: none;
}

/* header*/

.header {
  background: #FFFFFF;
}

.header__part1 {
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 20px;
}

.menu-container {
  align-items: center;
}

.menu {
  align-items: center;
  margin-right: 79px;
}

.menu__link {
  position: relative;
  padding: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #333333;
}

.menu__list-items {
  gap: 59.75px;
}


.search-form {
  display: block;
  position: absolute;
  width: max-content;
  padding-left: 32px;
  padding-right: 55px;
  top: -20px;
  right: 0;
  background: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  z-index: 200;
}

.active-search-form {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

.container-search {
  position: relative;
  padding-right: 24px;
}

.none {
  visibility: hidden;
}


.search-form__input {
  width: 0.5px;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #E5E5E5;
  border: none;
  transition: width 1s;
}

.active-search-input {
  max-width: 100%;
  width: 308px;
  background: #FFFFFF;
  border-radius: 24px;
  transition: width 1s;
}

.search-form__input::placeholder {
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-gray);
  border-bottom: 1px solid var(--btn-violet-color);
  -moz-border-bottom-colors: 1px solid var(--btn-violet-color);
}

.search-form__input:focus-visible {
  outline: none;
}


.search-form__icon-link_active {
  position: absolute;
  top: 30%;
  right: 40px;
}

.search-form__icon-link_close {
  position: absolute;
  top: 30%;
  right: 10px;
}


.search-form__icon path {
  transition: all 1s;
}


@media (min-width: 1200px) {

  .search-form__icon:hover:not(:focus-visible) path {
    stroke: var(--vilet--AA9DFA);
  }
}

.search-form__icon-link-visible:focus-visible {
  outline: none;
}

.search-form__icon-link-visible:focus-visible .search-form__icon path {
  stroke: var(--vilet--AA9DFA);
}

.search-form__icon-link:focus-visible {
  outline: none;
}

.search-form__icon:active {
  stroke: var(--violet--4F28A5);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


.header__btn {
  padding: 10px 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: var(--border-radius__big);
  transition: all 0.4s ease-in-out;
}

.header__part2 {
  border: 1px solid var(--light-gray);
}

.submenu {
  gap: 54px;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.header__submenu-list {
  gap: 52px;
}

.submenu__btns-container {
  min-width: 350px;
}

.submenu__item:nth-child(1) {
  border-left: 1px solid var(--light-gray);
}

.submenu__item {
  width: 50%;
  padding-left: 12px;
  border-right: 1px solid var(--light-gray);
}

.submenu__btn {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.submenu__btn-descr {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: var(--text-gray);
}

.submenu__btn-title {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--black);
}

.submenu__btn-img-pause, .submenu__btn-img {
  width: 24px;
}


.submenu__btn-pause {
  display: none;
}

.submenu__text-container {
  text-align: left;
}

.submenu__btn-img path {
  transition: all 0.4s;
}

.submenu__btn:hover .submenu__btn-img path {
  fill: var(--btn-violet-color);
}

.submenu__age {
  min-width: 46px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-image: url(../img/12+.jpg);
  background-size: cover;
}

.btn-listen_none {
  display: none;
}

.btn-pause {
  display: none;
}

.btn-pause_active {
  display: block;
}

/*hero*/

.modal-window {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 824px;
  max-height: 655px;
  margin: auto auto;
  padding: 60px;
  background: var(--black);
  z-index: 1000;
}

.modal-window__title {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
}

.modal-window__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.modal-window__text_violet {
  color: var(--btn-violet-color);
}

.modal-window__text_violet:hover {
  color: var(--vilet--AA9DFA);
}

.modal-window__text-margin {
  margin-bottom: 30px;
}

.modal-window__form {
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.modal-window__input {
  min-width: 526px;
  padding: 15px 10px 15px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-gray);
  border: 1px solid #FFFFFF;
  background-color: var(--black);
  border-radius: var(--border-radius__smaller);
}

.modal-window__btn {
  padding: 25px 54px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--btn-violet-color);
  border-radius: var(--border-radius__smaller);
  transition: all 0.3s;
}

.modal-window__btn:hover {
  background-color: var(--vilet--AA9DFA);
  transform: scale(1.3);
}

.modal-window__line {
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
}

.modal-window__social-list {
  gap: 40px;
}

.modal-window__btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-window__btn-close:hover circle {
  stroke: var(--violet--4F28A5);
}

.modal-window__btn-close:hover path {
  stroke: var(--violet--4F28A5);
}

.hero {
  padding-top: 38px;
  padding-bottom: 40px;
}

.hero__content {
  justify-content: space-between;
}

.hero__text-container {
  padding-top: 56px;
  padding-bottom: 54px;
}

.hero__title {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--black);
}

.hero__title_italic {
  font-style: italic;
}

.hero__descr {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.hero__btn {
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--btn-violet-color);
  border-radius: var(--border-radius__smaller);
  transition: all 0.3s;
}

@media (min-width: 1200px) {
  .hero__btn:hover:not(:focus-visible) {
    background-color: var(--vilet--AA9DFA);
  }
}

.hero__btn:focus-visible {
  background-color: var(--vilet--AA9DFA);
  outline: 2px solid var(--violet--4F28A5);
}

.hero__btn:active {
  background-color: var(--violet--4F28A5);
}

.hero__img-container {
  background-image: url(../img/microphone.png);
  background-repeat: no-repeat;
}

/* Подкасты*/

.podcasts {
  background: #E6E8EC;
}

.podcasts__title {
  margin-bottom: 30px;
  color: var(--black);
}

.podcasts__list {
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.podcasts__date {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 51px;
  height: 17px;
  padding-top: 3px;
  font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
text-align: center;
color: var(--black);
  background: #E6E8EC;
}

.podcasts__info-text {
  position: relative;
  padding: 24px 30px 32px 30px;
}

.podcasts__btn-listen {
  position: absolute;
  top: 27%;
  right: 4%;
}

.podcasts__btn-listen:hover .podcasts__btn-img circle {
  stroke: var(--btn-violet-color);
  transition: all 0.6s;
}

.podcasts__btn-listen:hover .podcasts__btn-img path {
  fill: var(--btn-violet-color);
  transition: all 0.6s;
}

.podcasts__btn-listen:focus-visible {
  outline: none;
}

.podcasts__btn-listen:focus-visible .podcasts__btn-img circle {
  stroke: var(--vilet--AA9DFA);
}

.podcasts__btn-listen:focus-visible .podcasts__btn-img path {
  fill: var(--vilet--AA9DFA);
}

.podcasts__btn-listen:active .podcasts__btn-img circle {
  stroke: var(--violet--4F28A5);
}

.podcasts__btn-listen:active .podcasts__btn-img path {
  fill: var(--violet--4F28A5);
}

.podcasts__time {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--black);
}

.podcasts__name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.podcasts__author {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-gray);
}

.podcasts__social-activity {
  align-items: center;
  padding: 0 0 7px 20px;
  border-top: 1px solid var(--light-gray);
}

.podcasts__social-list {
  gap: 23px;
}

.podcasts__btn-more {
  width: fit-content;
  padding: 24px 53px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--btn-violet-color);
  border: 2px solid var(--btn-violet-color);
  border-radius: var(--border-radius__smaller);
  transition: all 0.3s ease-in-out;
}

.podcasts__btn-more:hover {
  color: #FFFFFF;
  background-color: var(--btn-violet-color);
}

.podcasts__btn-more:focus-visible {
  color: #FFFFFF;
  background-color: var(--vilet--AA9DFA);
  outline: 2px solid var(--violet--4F28A5);
}

.podcasts__btn-more:active {
  color: #FFFFFF;
  background-color: var(--violet--4F28A5);
}

.podcasts__social__item {
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text-gray);
  background-position: left center;
  background-repeat: no-repeat;
}

.podcasts__plays-img path {
  transition: all 0.3s ease-in-out;
}

.podcasts__likes-img path {
  transition: all 0.3s ease-in-out;
}

.podcasts__link-img path {
  transition: all 0.3s ease-in-out;
}

.podcasts__social-link:hover .podcasts__plays-img path {
  fill: var(--btn-violet-color);
}

.podcasts__social-link:focus-visible .podcasts__plays-img path {
  fill: #ffffff;
}

.podcasts__social-link:active .podcasts__plays-img path {
  fill: var(--violet--4F28A5);
}

.podcasts__social-link:hover .podcasts__likes-img path {
  fill: var(--btn-violet-color);
}

.podcasts__social-link:focus-visible .podcasts__likes-img path {
  fill: #ffffff;
}

.podcasts__social-link:active .podcasts__likes-img path {
  fill: var(--violet--4F28A5);
}

.podcasts__social-link:hover .podcasts__link-img path {
  fill: var(--btn-violet-color);
}

.podcasts__social-link:focus-visible .podcasts__link-img path {
  fill: #ffffff;
}

.podcasts__social-link:active .podcasts__link-img path {
  fill: var(--violet--4F28A5);
}

.podcasts__container {
  flex-direction: column;
  align-items: center;
  gap: 29px;
}

.podcasts__item {
  position: relative;
  max-width: 48.5%;
  padding-left: 112px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left center;
}

.podcasts__img1 {
  background-image: url(../img/podcasts__img1.jpg);
}


.podcasts__img2 {
  background-image: url(../img/podcasts__img2.jpg);
}


.podcasts__img3 {
  background-image: url(../img/podcasts__img3.jpg);
}


.podcasts__img4 {
  background-image: url(../img/podcasts__img4.jpg);
}


.podcasts__img5 {
  background-image: url(../img/podcasts__img5.jpg);
}


.podcasts__img6 {
  background-image: url(../img/podcasts__img6.jpg);
}


.podcasts__img7 {
  background-image: url(../img/podcasts__img7.jpg);
}


.podcasts__img8 {
  background-image: url(../img/podcasts__img8.jpg);
}

.podcasts__novisible {
  display: none;
}

/*broadcasts*/

.broadcasts__row {
  position: relative;
}

.broadcasts__archive {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 265px;
  padding: 114px 0 8px 13px;
  background-position-x: 12px;
  background-image: url(../img/microphone-small.png);
  background-repeat: no-repeat;
}

.broadcasts__title {
  margin-bottom: 12px;
  color: var(--black);
}

.broadcasts__author {
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.broadcasts__title-select {
  margin-bottom: 4px;
}

.choices__inner {
  position: relative;
  min-width: 255px;
  padding: 12px 3px 0px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  background: var(--light-gray);
  border: none;
  border-radius: 10px;
  z-index: 2;
  transition: all 0.3s;
}

.choices__inner:hover {
  background: #F5F6F7;
}

.is-focused .choices__inner {
  background: #E6E8EC;
  outline: 1px solid #6D31EE;
}

.is-open .choices__inner {
  background-color: #D2D5DD;
  outline: none;
  border-radius: 10px;

}

.choices__list--dropdown {
  top: 30px;
  padding-top: 15px;
  color: #A1A6B4;
  border: 1px solid #D2D5DD;
  border-radius: 10px;
  z-index: 1;
}

.choices__item:hover {
  color: var(--black);
}

.choices__item:focus-visible {
  color: var(--btn-violet-color);
}

.choices__item:active {
  color: var(--black);
}

.broadcasts__option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]:after {
  content: url(../img/broadcasts-line.png);
  border-style: none;
  top: 24%;
  right: 32px;
  z-index: 5;
  transition: transform .1s ease-in-out;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  transform: rotate(180deg) translate(-10px, -20px);
}

.choices__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid var(--text-gray);
}

.choices__list--single {
  padding: 0;
}

.broadcasts__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-gray);
}


.broadcasts__link-archive {
  margin-bottom: 15px;
  padding: 10px 54px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: var(--border-radius__big);
}

.broadcasts__list {
  flex-wrap: wrap;
  gap: 27px;
  padding-top: 13px;
}

.broadcasts__item {
  display: none;
  width: 31%;
  padding: 169px 6px 20px 17px;
  background: #FFFFFF;
  border: 1px solid #E6E8EC;
  background-repeat: no-repeat;
}

.broadcasts__img1 {
  background-image: url(../img/broadcasts__img1.jpg);
}

.broadcasts__img2 {
  background-image: url(../img/broadcasts__img2.jpg);
}

.broadcasts__img3 {
  background-image: url(../img/broadcasts__img3.jpg);
}

.broadcasts__img4 {
  background-image: url(../img/broadcasts__img4.jpg);
}

.broadcasts__img5 {
  background-image: url(../img/broadcasts__img5.jpg);
}

.broadcasts__img6 {
  background-image: url(../img/broadcasts__img6.jpg);
}

.broadcasts__item-title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.broadcasts__schedule {
  margin-bottom: 15px;

}

.small-text-gray {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-gray);
}

.broadcasts__link-more {
  padding: 2px 5px 0 2px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0;
}

.broadcasts__img-more path {
  transition: all 0.3s ease-in-out;
}

.broadcasts__link-more:hover .broadcasts__img-more path {
  fill: var(--btn-violet-color);
}

.broadcasts__link-more:focus-visible .broadcasts__img-more path {
  fill: #ffffff;
}

.broadcasts__link-more:active .broadcasts__img-more path {
  fill: var(--violet--4F28A5);
}

.broadcasts__item_active {
  display: block;
}

/* guests */

.guests {
  background-color: var(--black);
}

.guests__title {
  margin-bottom: 8px;
  color: #FFFFFF;
}

.guests__text_bold {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-gray);
}

.guests__text {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text-gray);
}

.guests__accordion {
  padding-top: 18px;
}

.guests__info {
  padding-left: 17px;
}

.guests__person-img {
  margin-bottom: 14px;
}

.guests__list {
  display: inline-block;
  max-width: 730px;
  columns: 4;
}

.guests__person {
  display: none;
}

.guests__person_active {
  display: block;
}

.guests__accordion-item {
  border: none;
  background-color: var(--black);
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.guests__accordion-button {
  justify-content: flex-end;
  padding: 34px 2px 34px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border-top: 1px solid var(--text-gray);
  background-color: var(--black);
}

.accordion-body {
  padding: 30px 10px 30px 0;
}


.guests__accordion-item:last-child {
  border-bottom: 1px solid var(--text-gray);
}

.guests__accordion-svg {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.guests__accordion-button::after {
  background-image: none;

}

.guests__accordion-button:not(.collapsed) .guests__accordion-svg {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in-out;
}

.guests__accordion-button:not(.collapsed) {
  padding: 17px 2px 33px 0;
  color: #ffffff;
  background-color: var(--black);
  box-shadow: none;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: var(--vilet--AA9DFA);
}

.guests__accordion-button:hover {
  color: var(--vilet--AA9DFA);
}

.guests__accordion-button:focus-visible {
  color: #ffffff;
}

.guests__accordion-button:hover::after {
  color: var(--vilet--AA9DFA);
}

.guests__accordion-button:hover .guests__accordion-svg circle {
  stroke: var(--vilet--AA9DFA);
}

.guests__accordion-button:hover .guests__accordion-svg path {
  stroke: var(--vilet--AA9DFA);
}

.guests__accordion-button:active .guests__accordion-svg circle {
  stroke: #ffffff;
  fill:var(--vilet--AA9DFA);
}

.guests__accordion-button:active .guests__accordion-svg path {
  stroke: #ffffff;
}

.accordion-button:focus {
  border-color: #ffffff;
  box-shadow: none;
}

.guests__list {
  background-color: var(--black);
}


.guests__link-person {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.guests__social {
  gap: 33px;
  margin-bottom: 12px;
}

.guests__name {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.guests__descr {
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text-gray);
}

.guests__btn-esters {
  padding: 10px 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--vilet--AA9DFA);
  border: 2px solid var(--vilet--AA9DFA);
  border-radius: var(--border-radius__big);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.guests__btn-esters:hover {
  background-color: var(--vilet--AA9DFA);
  color: #ffffff;
}

.guests__btn-esters:focus-visible {
  background-color: var(--btn-violet-color);
  color: #ffffff;
  outline: none;
}

.guests__btn-esters:active {
  background-color: var(--violet--4F28A5);
  color: #ffffff;
  border: none;
}

/*playlists*/

.playlists__title {
  margin-bottom: 12px;
}

.playlists__genres {
  margin-bottom: 12px;
}

.playlists__title-radio-btn {
  margin-bottom: 5px;
}

.playlists__text {
  padding-top: 39px;
}


.playlists__text-img {
  padding-top: 0;
  padding-bottom: 36px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  background-image: url(../img/18+.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.genre__list {
  flex-direction: column;
  gap: 16px;
}

.genre__item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.genre__label {
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: var(--black);
}

.genre__svg circle {
  transition: all 0.2s ease-in-out;
}

.genre__label:hover .genre__svg circle{
stroke: var(--btn-violet-color);
}

.genre__label:focus-visible .genre__svg rect{
  fill: #D2D5DD;
}

.genre__label:active .genre__svg circle{
  stroke: var(--btn-violet-color);
  stroke-width: 5px;
  }

.genre__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.genre__svg {
  margin-right: 7px;
}

.genre__input:checked~label .genre__svg circle{
  stroke: var(--btn-violet-color);
  stroke-width: 6px;
  r: 10px;
}

.playlists__text-copy {
  display: none;
  padding-top: 38px;
}

.playlists__text-original {
  padding-top: 38px;
}

.playlists__text-line {
  border-top: 1px solid #D2D5DD;
}

.playlists__songwriters {
  padding-top: 14px;
}

.playlists__list {
  flex-wrap: wrap;
  gap: 30px;
}

.playlists__item {
  display: none;
  gap: 16px;
  position: relative;
  min-width: 160px;
  padding-bottom: 16px;
  border: 1px solid #E6E8EC;
  transition: all 0.3s ease-in-out;
}

.playlists__group__name {
  margin-bottom: 4px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.playlists__descr {
  padding-left: 16px;
  transition: all 0.3s ease-in-out;
}

.playlists__item::before {
  content: url('../img/play_btn_violet.svg');
  position: absolute;
  top: 25%;
  right: 30%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.playlists__item:hover::before {
  opacity: 1;
}

.playlists__item:hover {
  background-color: var(--btn-violet-color);
}

.playlists__item:hover .playlists__group__name {
  color: #ffffff;
}

.playlists__item:hover .playlists__descr{
  color: #ffffff;
}

.playlists__item:focus-visible::before {
  opacity: 1;
}

.playlists__item:focus-visible {
  background-color: var(--vilet--AA9DFA);
}

.playlists__item:focus-visible .playlists__group__name {
  color: #ffffff;
}

.playlists__item:focus-visible .playlists__descr{
  color: #ffffff;
}

.playlists__item:active::before {
  opacity: 1;
}

.playlists__item:active {
  background-color: var(--btn-violet-color);
}

.playlists__item:active .playlists__group__name {
  color: #ffffff;
}

.playlists__item:active .playlists__descr{
  color: #ffffff;
}

.playlists__items_active {
  display: flex;
  flex-direction: column;
}

.playlists__country {
  position: absolute;
  top: 0;
  right: 0;
}


/* products */

.products {
  padding-bottom: 132px;
  background: #292E39;
}

.products__img {
  position: relative;
  padding-top: 11px;
}

.product__new {
  position: absolute;
  top: 0;
  left: 7px;
}

.product__text {
  padding: 2px 0 0 15px;
} 

.products__titleh2_hidden {
  color: transparent;
  font-size: 0;
}

.products__title {
  margin-bottom: 17px;
  padding-bottom: 31px;
  color: var(--yellow-F0D288);
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.product__descr-container {
  margin-bottom: 30px;
  padding-left: 1px;

}

.product__descr {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}

.product__descr:last-child {
  margin-bottom: 0;
}

.product__price {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.product__btn {
  display: inline-block;
  padding: 25px 13.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--yellow-F0D288);
  border: 2px solid var(--yellow-F0D288);
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
}

.buy-on-yandex path, .buy-on-yandex__path2 {
  transition: all 0.4s ease-in-out;
}

.product__btn:hover {
background-color: var(--yellow-F0D288);
color: var(--black);
}

.product__btn:hover .buy-on-yandex path{
fill: var(--black);
}

.product__btn:hover .buy-on-yandex .buy-on-yandex__path2 {
  fill: var(--yellow-F0D288);
}

.product__btn:focus-visible {
  background-color: #BB973E;
  color: var(--black);
  outline: none;
  }


  .product__btn:active {
    background-color: #BB973E;
    color: var(--black);
    border-color: #BB973E;
    }
    
    .product__btn:hover .buy-on-yandex path{
    fill: var(--black);
    }
    
    .product__btn:hover .buy-on-yandex .buy-on-yandex__path2 {
      fill: #BB973E;
    }


/*about */

.swiper__img {
  margin-bottom: 32px;
}



.about {
  background: var(--black);
}

.about__row1 {
margin-bottom: 28px;
}

.about__img-line {
  background-position: center;
  background-image: url(../img/Spiral.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.about__img-star {
  min-width: 255px;
  background-position-x: center;
  background-image: url(../img/Dawn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.about__title {
  margin-bottom: 12px;
  color: #ffffff;
}

.about__subtitle {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-gray);
}

.about__appeal {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text-gray);
}

.about__name {
  margin-bottom: 5px;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
  color: #ffffff;
}

.about__author-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-gray);
}

.slider {
  position: relative;
}

.button-prev {
  position: absolute;
  top: 30%;
  left: -7%;
  width: 45px;
  height: 45px;
  z-index: 100;
}


.button-next {
  position: absolute;
  top: 30%;
  right: -5%;
  width: 45px;
  height: 45px;
  z-index: 100;
}


/* form */

.about__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background: var(--black);
}


.form-group {
  display: flex;
  position: relative;
  padding-top: 32px;
}

textarea.form-control {
  min-height: 150px;
}

.form__textarea {
  width: 100%;
  padding: 30px 10px 10px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-gray);
  background: var(--black);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.form__textarea:hover {
  background: #292E39;

}

.form__textarea:focus-visible {
  background: #292E39;
  border-color: var(--vilet--AA9DFA);
}

.form__textarea:active {
  color: #ffffff;
  background: var(--black);
  border: 1px solid #FFFFFF;
}

.about__inputs {
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 27px;
}

.about__input {
  width: 50%;
}

.form__input {
  padding: 25px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-gray);
  background: var(--black);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.form__input:hover {
  background: #292E39;

}

.form__input:focus-visible {
  background: #292E39;
  border-color: var(--vilet--AA9DFA);
}

.form__input:active {
  color: #ffffff;
  background: var(--black);
  border: 1px solid #FFFFFF;
}


.js-validate-error-label {
  order: -1;
  position: absolute;
  top: 20px;
  left: 30px;
}

.form-group input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.form-group__btn {
  align-self: flex-start;
  display: inline-block;
  margin-bottom: 28px;
  padding: 24.5px 54.5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  background: var(--btn-violet-color);
  border-radius: var(--border-radius__smaller);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-group__btn:hover {
  background: var(--vilet--AA9DFA);
}

.form-group__btn:focus-visible {
  background: var(--vilet--AA9DFA);
  border: 2px solid var(--violet--4F28A5);
}

.form-group__btn:active {
  background: var(--violet--4F28A5);
}

.label-for-input-agree {
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 12px;
  color: #ffffff;
}

.form-application__input-agree {
  margin-right: 5px;
}

.label-for-input-agree:hover {
  color: var(--btn-violet-color);
}

.label-for-input-agree:hover {
  color: var(--vilet--AA9DFA);
}

.label-for-input-agree:active {
  color: var(--violet--4F28A5);
}

/*footer*/

.footer {
  background-color: #292E39;
}

.footer__part1 {
  padding-top: 89px;
  padding-bottom: 90px;
  background-image: url(../img/footer-line.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.footer__container {
  justify-content: space-between;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 5px;
}

.footer__social-list {
  gap: 21px;
}

.footer__social-link:hover .footer__social-img path {
fill: var(--btn-violet-color);
}

.footer__social-link:focus-visible .footer__social-img path {
  fill: var(--vilet--AA9DFA);
  }

  .footer__social-link:active .footer__social-img path {
    fill: var(--violet--4F28A5);
    }

.footer__menu-list {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  column-gap: 111px;
  max-height: 110px;
}

.footer__menu-item {
  margin-bottom: 12px;
}

.footer__menu-link {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__copyright {
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 103.34%;
  color: var(--text-gray);
}



.display-block {
  display: block;
}

.stop-scroll {
  overflow: hidden;
}